* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.head{
  background-image: url(https://images.pexels.com/photos/1287145/pexels-photo-1287145.jpeg?auto=compress&cs=tinysrgb&w=1200);
  background-size: cover;
  height:750px;

  @media (max-width: 1280px) {
    background-position: center;
    width: 100%;
    height: 690px;
    background-repeat: no-repeat;
  }
  body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
  }
  .navbar{
    @media  (min-width:1025px) and (max-width:1440px){
            display: none;
    }
}
       
    

  body {
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }

  h1 {
    margin: 20px 0;
    color: #fff;
  }

  .center {
    text-align: center;
  }

  .nav-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    height: 80px;
    border-radius: 0 0 15px 15px;
    padding: 0 25px;
    z-index: 2;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .imds{
        height:80px;
    }
  }

  .logo {
    height: 60px;
  }

  .nav-tabs {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    list-style: none;
  }
 .navtab1{
  display: flex;
    font-weight: 600;
    font-size: 23px;
    list-style: none;
    margin-right:20px;
    color:grey;

 }

  .nav-tab:not(:last-child) {
    padding: 10px 25px;
    margin: 0;
    border-right: 1px solid #eee;
  }

  .nav-tab:last-child {
    padding: 10px 0 0 25px;
  }

  .nav-tab,
  .menu-btn {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  @media screen and (max-width: 1280px) {
    .nav-container {
      position: fixed;
      display: none;
      overflow-y: auto;
      z-index: -1;
      top: 0;
      right: 0;
      width: 280px;
      height: 100%;
      background: #fff;
      box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
    }

    .nav-tabs {
      flex-direction: column;
      align-items: flex-end;
      margin-top: 80px;
      width: 100%;
    }

    .nav-tab:not(:last-child) {
      padding: 20px 25px;
      margin: 0;
      border-right: unset;
      border-bottom: 1px solid #f5f5f5;
    }

    .nav-tab:last-child {
      padding: 15px 25px;
    }

    .menu-btn {
      position:relative;
      display: block;
      margin: 0;
      width: 20px;
      height: 15px;
      cursor: pointer;
      z-index: 2;
      padding: 10px;
      border-radius: 10px;
      color: black;
      background-color:black;
    }

    .menu-btn .menu {
      display: block;
      width: 100%;
      height: 20px;
      border-radius: 2px;
      background: black;
    }

    .menu-btn .menu:nth-child(2) {
      margin-top: 4px;
      opacity: 1;
    }

    .menu-btn .menu:nth-child(3) {
      margin-top: 4px;
    }

    #menuToggle:checked + .menu-btn .menu {
      transition: transform 0.2s ease;
    }

    #menuToggle:checked + .menu-btn .menu:nth-child(1) {
      transform: translate3d(0, 6px, 0) rotate(45deg);
    }

    #menuToggle:checked + .menu-btn .menu:nth-child(2) {
      transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
      opacity: 0;
    }

    #menuToggle:checked + .menu-btn .menu:nth-child(3) {
      transform: translate3d(0, -6px, 0) rotate(-45deg);
    }

    #menuToggle:checked ~ .nav-container {
      z-index: 1;
      display: flex;
      animation: menu-slide-left 0.3s ease;
    }
    @keyframes menu-slide-left {
      0% {
        transform: translateX(200px);
      }
      to {
        transform: translateX(0);
      }
    }
  }
}
.head {
  .navbar {
    @media (min-width: 780px) and (max-width: 1280px) {
      
    }
  }

  .int {
    margin: 100px;
    @media (max-width: 1280px) {
      margin: -10px;
      @media (max-width: 1280px) {
        // display: none;

      }
      .main1 {
        font-size: -50px;
        @media (max-width: 1280px) {
        //   display: none;
        }
        @media  (min-width:1025px) and (max-width:1440px){
            
    

        }
      }
    }
    .main1 {
      text-align: center;
      align-items: center;
      font-size: 80px;
      font-family: Arial, Helvetica, sans-serif;
      color: rgba(32, 2, 2, 0.672);
      font-weight: 900px;
      @media(max-width:1280px){
        font-size:35px;
        align-items: center;
        margin-top:200px;
      }
      @media  (min-width:1025px) and (max-width:1440px){
            
    

      }
    }
    .main2 {
      text-align: center;
      align-items: center;
      font-size: 80px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      color: rgba(12, 12, 92, 0.758);
      @media(max-width:1280px){
        font-size:35px;
      }
    }
  }

  .nav {
    display: flex;
    // justify-content: space-evenly;
    gap: 650px;

    .imag {
      width: 40px;
      height: 50px;
      border-radius: 70%;
      background-color: #fff;
      margin: 30px;
      margin-left: 200px;
      @media (max-width: 1280px){
        display: none;
      }
    }
    .headers {
      display: flex;
      color: whitesmoke;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 500px;
      @media (max-width: 1280px) {
        display: none;
      }
      @media  (min-width:1025px) and (max-width:1440px){
            
    

      }

      .int1 {
        border-bottom: 2px solid whitesmoke;
        margin: 40px;
      }
      .int2 {
        border-bottom: 2px solid whitesmoke;
        margin: 40px;
      }
    }
  }
}
